.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bellotero {
  width: 133px;
  height: 26px;
  object-fit: contain;
}

.navbar {
  height: 64px;
  background-color: #ffffff;
}

.nav-item {
  margin-right: 20px;
  height: 16px;
  font-family: navFont;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #071eb3 !important;
  padding: 10px;
}

#root {
    height: 800px;
    background-color: #f9faff !important;
}

.navbar-expand{
  justify-content: space-around !important;
}

@font-face {
  font-family: 'navFont';
  src: local('Roboto-Medium'), url(./Fonts/Roboto-Medium.ttf);
}

.nav-item-active{
  border-top: 2px solid;
}
